.rank {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top:60px;
    color: white;
}



@media screen and (max-width:480px) {
    .rank {
        
        clear: both;
        font-size: 12px;
    }
}